#evg-product-recs {
    color: #565656;
    font-family: Source Sans Pro, sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    padding: 20px 0px;
    white-space: nowrap;
    width: 100%;
}

#evg-product-recs .evg-recs-header {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
}

#evg-product-recs .evg-item {
    display: inline-block;
    text-align: center;
    width: 25%;
}

#evg-product-recs .evg-image {
    height: auto;
    width: 80%;
}

#evg-product-recs .evg-description {
    padding: 10px 0px 20px;
}

#evg-product-recs .evg-name {
    color:#393939; 
    font-size:15px;
    font-weight: 600; 
    text-decoration: none; 
    margin-bottom: 8px; 
}

#evg-product-recs .evg-product {
    color:#565656; 
    font-size:15px;
    font-weight: 600; 
    margin-bottom: 0; 
}