#evg-callout {
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    text-align: center;
    width: 170px;
    z-index: 10000000;  
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;    */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   
}
#evg-callout .evg-container {
    display: inline;
}
#evg-callout .evg-description {
    font-size: 15px;
    display: block;   
    margin: 0px;
}
#evg-callout .evg-cta {
    color: #17a2b8;
    display: block;
    font-size: 14px;
    text-decoration: none;
    line-height: normal;
}
#evg-callout canvas {
    background-color: transparent !important;
    border: 0px !important;
    position: absolute;
}
#evg-callout canvas.top {
    left: 50%;
    margin-left: -10px;
    bottom: -20px;
}
#evg-callout canvas.bottom {
    left: 50%;
    margin-left: -10px;
    top: -20px;
}
#evg-callout canvas.left {
    right: -20px;
    margin-top: -10px;
    top: 50%;
}
#evg-callout canvas.right {
    left: -20px;
    margin-top: -10px;
    top: 50%;
}
#evg-callout.evg-light {
    color: #ffffff;
    background-color: #343a40;
}
#evg-callout.evg-dark {
    color: #343a40;
    background-color: #f8f8f8;
}