#evg-email-capture-popup {
    position: relative;
    z-index: 9999999;
}
#evg-email-capture-popup .evg-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
}
#evg-email-capture-popup .evg-popup {
    background-color: #FFF;
    background-size: cover;
    height: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    position: fixed;
    top: 50%;
    width: 500px;
}
#evg-email-capture-popup .evg-close {
    background-color: #000;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: -10px;
    top: -10px;
    text-align: center;
    user-select: none;
    width: 30px;
}
#evg-email-capture-popup .evg-content {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#evg-email-capture-popup .evg-header {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 10px;
    width: 400px;
}
#evg-email-capture-popup .evg-subheader {
    display: inline-block;
    font-size: 16px;
    width: 350px;
}
#evg-email-capture-popup .evg-form {
    margin: 10px 0;
    width: 250px;
}
#evg-email-capture-popup .evg-form > input {
    margin: 5px 0;
    width: 100%;
}
#evg-email-capture-popup .evg-form > button {
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0px;
    padding: 10px 30px;
    text-decoration: none;
}
#evg-email-capture-popup .evg-opt-out {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
#evg-email-capture-popup .evg-confirm-content {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#evg-email-capture-popup .evg-confirm-header {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 10px;
    width: 400px;
}
#evg-email-capture-popup .evg-confirm-subheader {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    width: 400px;
}
#evg-email-capture-popup .evg-hide {
    display: none;
}
#evg-email-capture-popup.evg-light {
    color: #ffffff;
}
#evg-email-capture-popup.evg-dark {
    color: #343a40;
}
#evg-email-capture-popup .evg-light {
    border: 2px solid #ffffff;
    color: #ffffff;
}
#evg-email-capture-popup .evg-dark {
    border: 2px solid #343a40;
    color: #343a40;
}