<div id="evg-callout">
    <div class="evg-container">
        <h2 class="evg-description">{{{mainText}}}</h2>
        <a class="evg-cta" href="{{ctaUrl}}">
            {{ctaText}}
        </a>
    </div>
    <canvas id="canvas" height="20px" width="20px"></canvas>
    <div class="evg-close">&times;</div>
</div>