#evg-infobar-cta {
    box-sizing: border-box;
    height: 42px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10000000;    
}
#evg-infobar-cta .evg-cta {
    font-size: 14px;
    text-decoration: none;
}
#evg-infobar-cta .evg-cta.evg-light {
    color: #6dccee;
}
#evg-infobar-cta .evg-cta.evg-dark {
    color: #17a2b8;
}
#evg-infobar-cta .evg-container {
    display: inline;
}
#evg-infobar-cta .evg-main {
    font-size: 14px; 
    display: inline;   
}
#evg-infobar-cta .evg-close {
    border-radius: 15px;
    color: #ced4da;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    user-select: none;
    width: 22px;
}
#evg-infobar-cta.evg-light {
    color: #ffffff;
    background-color: #343a40;
}
#evg-infobar-cta.evg-dark {
    color: #343a40;
    background-color: #f8f8f8;
}