<div id="evg-infobar-cta">
    <div class="evg-container">
        <p class="evg-main">{{{mainText}}}</p>
        <a class="evg-cta" href="{{ctaUrl}}">
            {{ctaText}}
        </a>
    </div>
</div>