#evg-promo-code-infobar {
    box-sizing: border-box;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000000;    
}
#evg-promo-code-infobar .evg-link {
    font-size: 14px;
    text-decoration: none;
}
#evg-promo-code-infobar .evg-container {
    display: inline;
}
#evg-promo-code-infobar .evg-description {
    font-size: 14px; 
    display: inline;   
}
